<!DOCTYPE html>
<html>
<head>
    <title>Registration for the Squid Game</title>
</head>
<body>
    <h2>Registration for the Squid Game</h2>
    <form method="POST">
        Name: <input type="text" name="name"><br><br>
        Gender: 
        <select name="gender">
            <option value="">--Select--</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select><br><br>
        Birthdate: <input type="date" name="birthdate"><br><br>
        Yearly Income: <input type="text" name="income"><br><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>
